{% extends "base.html" %}

{% block search %}
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 

    <div class="main_content">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <div class="form_control card_menu_bar">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>Enter Username</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Enter Password</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

{% endblock %}