{% extends "base.html" %}

{% block search %}
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/signup.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 

    <div class="main_content"  style='background-image: 
    linear-gradient(
        rgba(70, 66, 66, 0.45), 
      rgba(70, 66, 66, 0.45)
    ),
    url("{% static 'mainapp/images/bokeh-dots-green-4.png' %}");'>
        <div class="messages">
            <h1>Sign up Form</h1>
        </div>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <div class="form_control card_menu_bar">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% if field.help_text %}
                      <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert" style="padding-bottom: 0px;"></div>
                        <p style= "color: red; font-weight: 300;" >{{ error }}</p>
                    </div>
                    {% endfor %}
                  </p>
                {% endfor %}
                <div class="button_row" style="display: flex; flex-direction: row; justify-content: center;">
                    <button type="submit">Sign up</button>
                </div>
              </form>
        </div>


        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

{% endblock %}