{% extends "base.html" %}

{% block navmenu %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 
    {% if messages %}
    <script type="text/javascript">
        $(function(){
             //whatever conditions and js code
             alert('Operation Successfully Operated! เรียบร้อยแล้ว!');
        });
    </script>
    {% endif %}
    <script type="text/javascript">
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>

    <div class="main_content1">
        <div class="main_content2">
            <div class="regis_menu">
                <div class="user_profile card_menu_bar">
                    <i class='bx bxs-user-circle' ></i>
                    <h1>
                        <br>ยินดีต้อนรับ คุณ {{ user.get_full_name }}
                        <br>Welcome, user {{ user.get_full_name }} </h1>
                </div>

                <a class='button' href="{% url 'register-battery' %}">
                <div class="regis_menu_item card_menu_bar">
                    <i class='bx bxs-plus-circle'></i>
                    <h1>
                        <br>ลงทะเบียนแบตเตอรี่
                        <br>Register your battery!</h1>
                </div>
                </a>    
                <a class='button' href="{% url 'profile-edit' %}">
                    <div class="regis_menu_item card_menu_bar">
                        <i class='bx bxs-user-circle'></i>
                        <h1>
                            <br>แก้ไขโปรไฟล
                            <br>Edit your profile!</h1>
                </div>
                </a>
                <a class='button' href="{% url 'profile' %}">
                    <div class="regis_menu_item card_menu_bar">
                        <i class='bx bxs-user-circle'></i>
                        <h1>
                            <br>แสดงรายละเอียดโปรไฟล
                            <br>View user's registered profile information</h1>
                </div>
                </a>     
                <a class='button' href="{% url 'battery-list' %}">
                    <div class="regis_menu_item card_menu_bar">
                        <i class='bx bxs-user-circle'></i>
                        <h1>
                            <br>แสดงรายการที่ลงทะเบียนแล้ว
                            <br>View previous registered list</h1>
                </div>
                </a>        
            </div>
            <div class="side_content">
                <h1>Welcome to Borneo Battery Registeration Website</h1>
                <p>Please chose the menu from below to perform operations</p>
                <p>กรุณาเลือกเมนูเพื่อทำการลงทะเบียน</p>
                <div class="container">
                    <div class="mySlides" style="display: block;">
                      <div class="numbertext">1 / 3</div>
                      <img src="{% static 'mainapp/images/A001.jpg' %}" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <div class="numbertext">2 / 3</div>
                      <img src="{% static 'mainapp/images/A002.jpg' %}" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <div class="numbertext">3 / 3</div>
                      <img src="{% static 'mainapp/images/A003.jpg' %}" style="width:100%">
                    </div>
                      
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                  
                  
                  </div>
            </div>
            <div class="menu_bar">
                <div class="menu_bar_column">
                    <a class='button' href="{% url 'tutorial' %}">
                        <div class="row card">
                            <h1><i class='bx bx-question-mark'></i>
                            <br>วิธีการใช้งาน
                            <br>How to use</h1>
                        </div>
                    </a>
                    <a class='button' href="{% url 'warranty_con' %}">
                        <div class="row card">
                            <h1><i class='bx bx-check-square' ></i>
                            <br>เงื่อนไขการรับประกัน
                            <br>Warranty Conditions</h1>
                        </div>
                    </a>
                    <a class='button' href="https://warranty.borneothai.com/amaronshop/">
                    <div class="row card">
                        <h1><i class='bx bxs-location-plus' ></i>
                        <br>จุดบริการ
                        <br>Service Locations</h1>
                    </div>
                    </a>
                </div>
            </div>

        </div>

        
    </div>

    

{% endblock %}