{% extends "base.html" %}

{% block navmenu %}
<li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 

    <div class="main_content1">
        <div class="regis_menu">
            <div class="user_profile card_menu_bar">
                <i class='bx bxs-user-circle' ></i>
                <h1>
                    <br>ยินดีต้อนรับ คุณ {{ user.get_short_name }}
                    <br>Welcome, user {{ user.get_short_name }} </h1>
            </div>

            <div class="regis_menu_item card_menu_bar">
                <i class='bx bxs-plus-circle'></i>
                <h1>
                    <br>ลงทะเบียนแบตเตอรี่
                    <br>Register your battery!</h1>
            </div>
        </div>
    </div>

    <div class="menu_bar">
        <div class="menu_bar_column">
            <div class="row card">
                <a href="/how_to_use">
                <h1><i class='bx bx-question-mark'></i>
                <br>วิธีการใช้งาน
                <br>How to use</h1>
                </a>
            </div>
            <div class="row card">
                <h1><i class='bx bx-check-square' ></i>
                <br>เงื่อนไขการรับประกัน
                <br>Warranty Conditions</h1>
            </div>
            <div class="row card">
                <h1><i class='bx bxs-location-plus' ></i>
                <br>จุดบริการ
                <br>Service Locations</h1>
            </div>
        </div>
    </div>

{% endblock %}