{% extends "base.html" %}

{%load crispy_forms_tags %} 

{% block navmenu %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% endif %}
{% endblock %}

{% block pagetitle %}
<span class="text font-weight-bold" style="font-weight: bold; font-size: 20px;">Battery Registration Page</span>
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/username-edit.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 
    <script src="{% static 'mainapp/js/register-battery.js' %}"></script>
    <div class="main_content1" style='background-image: 
        linear-gradient(
            rgba(70, 66, 66, 0.45), 
        rgba(70, 66, 66, 0.45)
        ),
        url("{% static 'mainapp/images/bokeh-dots-green-4.png' %}");'>
        <div class="card">
            <div class="card-body">
                <div class="container-sm">
                    <form id = "form-id" action="{% url 'username-edit'%}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="row1">
                                <div class="col-9">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row1">
                                <div class="col-9">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            {% if form2.errors %}
                                <ul>
                                    {% for key,value in form2.errors.items %} 
                                    <li>{{ key|escape }} : {{ value|escape }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <a class='button' type='submit' onclick="document.forms['form-id'].submit();">
                                <div class="rowbutton card">
                                    <h1><i class='bx bx-skip-next-circle'></i>
                                    <br>เรียบร้อย และ ไปหน้าข้อมูลส่วนตัว
                                    <br>Next: Profile Form</h1>
                                </div>
                            </a>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}