{% extends "base.html" %}

{% block navmenu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/warrantycondition.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div class="main_content" style='background-image: 
    linear-gradient(
        rgba(70, 66, 66, 0.45), 
      rgba(70, 66, 66, 0.45)
    ),
    url("{% static 'mainapp/images/bokeh-dots-green-4.png' %}");'>
        <div class="row_message card">
            <h1><i class='bx bx-check-square' ></i>
            <br>เงื่อนไขการรับประกัน
            <br>Warranty Conditions</h1>
        </div>
        
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <ol>
                        <li>
                            <b>แบตเตอรี่อมารอน</b> รับประกันคุณภาพสินค้า เฉพาะแบตเตอรี่ที่เสียหาย อันเกิดจากความบกพร่องของโรงงานผู้ผลิต ในช่วงเวลารับประกัน โดยนับจากวันที่ติดตั้ง สำหรับรถยนต์ทั่วไป รับประกัน 1 – 2 ปี หรือ สำหรับรถใช้งานเพื่อการพาณิชย์ รับประกัน 6 เดือน
                            <ol>
                                <li>ในการเคลมสินค้ากับผู้แทนจำหน่ายแบตเตอรี่อมารอน ต้องนำบัตรประกันที่มีตราประทับของร้านค้า หรือ ตัวแทนจำหน่ายมาแสดง</li>
                                <li>บัตรรับประกันสินค้าสูญหาย บริษัทจะไม่ออกให้ใหม่และการรับประกัน ไม่สามารถโอนเปลี่ยนมือได้</li>
                            </ol>
                        </li>
                        <li>
                            <b>
                                ข้อยกเว้นการรับประกัน</b>
                                <ol>
                                    <li>เลขบาร์โค้ดของแบตเตอรี่ ถูกทำลายเลือนหาย, ถูกเปลี่ยนแปลงแก้ไข, ถูกลบ หรือถูกดึงออก</li>
                                    <li>ความเสียหาย อันเกิดจากการไม่ปฏิบัติตามคำแนะนำในการใช้, การประมาทเลินเล่อ, เกิดอุบัติเหตุแก่สินค้า เช่น สินค้าตกกระแทกจนเสียหาย, ขาดการบำรุงรักษา, เกิดอุบัติเหตุแก่สินค้า ซึ่งเกิดจากการกระทำของผู้ซื้อ, ไฟไหม้, น้ำท่วม และภัยธรรมชาติอื่นๆ</li>
                                    <li>แบตเตอรี่ถูกติดตั้ง หรือดูแลรักษาไม่ตรงกับคำแนะนำจากผู้ผลิต</li>
                                    <li>แบตเตอรี่ถูกเก็บไว้ในสต็อกร้านค้า เกินกว่า 3 เดือน</li>
                                    <li>แบตเตอรี่ถูกดัดแปลงสภาพ ผิดไปจากข้อกำหนดโรงงาน</li>
                                    <li>เมื่อบัตรรับประกันไม่สมบรูณ์, ฉีดขาด, ถูกทำลาย หรือถูกแก้ไขเปลี่ยนแปลง</li>
                                </ol>
                    </li>
                        <li>
                    <dt> การรับประกันไม่รวมถึง</dt>
                    <ol>
                        <li>แบตเตอรี่เสียหาย เนื่องมาจากอุปกรณ์ส่วนอื่นของ รถยนต์ ทำงานบกพร่อง</li>
                        <li>ต้นทุนในการนำแบตเตอรี่ กลับมาเปลี่ยนหรือคืนที่ร้านตัวแทนจำหน่าย</li>
                        <li>ค่าแรงในการถอด หรือเปลี่ยนแบตเตอรี่</li>
                        <li>ความเสียหายอื่นๆ ที่ตามมา</li>
                    </ol>
                    </li>
                        <li><b>บัตรรับประกันจะไม่มีผล ถ้าไม่ระบุข้อมูลให้ถูกต้องและครบถ้วน</b>
                        <ol>
                            <li>หากเกิดปัญหากับแบตเตอรี่สามารถติดต่อได้ที่ตัวแทนจำหน่ายที่ติดตั้งหรือซื้อแบตเตอรี่
                            </li>
                        </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div> 

        
    </div>

{% endblock %}