{% extends "base.html" %}

{% block navmenu %}
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/welcome.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 

    <div class="main_content">
        <div class="messages">
            <h1>Welcome to Borneo Battery Registeration Website</h1>
            <br>
            <p>Please login or register to continue</p>
        </div>
        <div class="buttons-holder">
            <a class='button' href="{% url 'login' %}">
                <div class="indivbuttons card_menu_bar">
                    <i class='bx bx-user' ></i>
                    <h1>
                        <br>ล็อกอิน
                        <br>Login</h1>
                </div>
            </a>
            <a class='button' href="/index"> 
            <div class="indivbuttons card_menu_bar">
                <i class='bx bxs-user-plus'></i>
                <h1>
                    <br>ลงทะเบียน
                    <br>Register</h1>
            </div>
            </a>
        </div>
    </div>

{% endblock %}

