<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/welcome.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 
    <title>Battery Registration - Index</title>
</head>
<body>
    <div class="main_content">
        <div class="col">
            <div class="row">
                <h1>Welcome</h1>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Please register or login to continue</p>
            </div>
        </div>
    </div>
    
</body>
</html>




